*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #f50856;
    font-family: sans-serif;
    color: white;

}

.dev{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: center;
}
.location,
.temperature{
    height: 20vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.temperature{
    flex-direction: column;
}
.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
    font-size: 40px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .location{
        width:600px;
    }
    .dev{
        font-size: 30px;
        margin-left: -70px;
    }
    .location-timezone{
        margin-left: -68px;
        font-size: 13px;
        font-weight: bold;
    }

  }
  